<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsRa5yf23pbZhX1Hp4U3oNr4Dl7mo1iJI</string>
	<key>GCM_SENDER_ID</key>
	<string>911353789343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.car</string>
	<key>PROJECT_ID</key>
	<string>irproject-60128</string>
	<key>STORAGE_BUCKET</key>
	<string>irproject-60128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911353789343:ios:d896d5434f107f77fb5baa</string>
	<key>DATABASE_URL</key>
	<string>https://irproject-60128-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>